.container {
  border: 2px solid darkred;
  padding: 15px;
}

.product {
  border: 1px solid black;
  background-color: lightskyblue;
  padding: 10px;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
}

.list {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
}

/*  Це означає, що правила всередені працюють коли екран меньше або рівно 1000px */
@media (max-width: 1000px) {
  .product {
    background-color: lightgreen;
  }
}

@media (max-width: 800px) {
  .product {
    background-color: lightcoral;
  }
}
