@use "variables" as *;

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;

  &_header_link {
    display: inline-block;
    color: $c-bcg-navy-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &_first {
      color: $c-links-buttons-hover;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.nav_logo_link {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  color: $c-links-buttons-normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}




.nav_header_link_first::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -17px;
  height: 4px;
  background-color: $c-links-buttons-hover;
  border-radius: 2px;
}

.nav_header_link:hover {
  color: $c-links-buttons-hover;
}

.nav_header_link:focus {
  color: $c-links-buttons-hover;
}