$c-bcg-navy-blue: #2e2f42;
$c-white: #ffffff;
$c-cloud: #f4f4fd;
$c-bgc-head: #e7e9fc;
$c-links-buttons-normal: #4d5ae5;
$c-links-buttons-hover: #404bbf;
$c-slate: #434455;
$marg-bottom-standard: 16px;
$base-font-size: 16px;