@use "normalize";
@use "header";
@use "nav";
@use "footer";
@use "mixins" as *;
@use "variables" as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: $c-slate;
  background-color: $c-white;
  font-size: 16px;
  margin: 0 auto;
}

.visually-hidden {
  @include no-padding;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* NAVIGATION */


address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo_studio {
  color: $c-bcg-navy-blue;
}

.a_address {
  display: inline-block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $c-slate;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a_address:hover {
  color: $c-links-buttons-hover;
}

.a_address:focus {
  color: $c-links-buttons-hover;
}

/* hero section */

.hero_section {
  background-color: $c-bcg-navy-blue;
  padding: 188px 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* MEDIA SCREEN MOBILE */
  background-image: linear-gradient(
                  rgba(46, 47, 66, 0.7),
                  rgba(46, 47, 66, 0.7)
  ),
  url(../../assets/images/bgi/Hero-bg_mob.jpg);
}

@media only screen and (min-resolution: 192dpi) {
  .hero_section {
    background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/images/bgi/Hero-bg_mob@2x.jpg);
  }
}
/* END MEDIA SCREEN MOBILE */

/* TABLET SCREEN MOBILE */
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .hero_section {
    background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/images/bgi/Hero-bg_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) and (min-resolution: 192dpi) {
  .hero_section {
    background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/images/bgi/Hero-bg_tab@2x.jpg);
  }
}
/* END TABLET SCREEN MOBILE */

/* DESKTOP SCREEN MOBILE */
@media screen and (min-width: 1158px) {
  .hero_section {
    background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/images/bgi/Hero-bg_desktop.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero_section {
    background-image: linear-gradient(
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)
    ),
    url(../../assets/images/bgi/Hero-bg_desktop@2x.jpg);
  }
}
/* END DESKTOP SCREEN MOBILE */

.hero_section_one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: $c-white;
  max-width: 496px;
  margin: 0 auto;
}

.button {
  background-color: $c-links-buttons-normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $c-white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: $c-links-buttons-hover;
}

.button:focus {
  background-color: $c-links-buttons-hover;
}

/* END hero section */

/* srction first description */

.section_description_company {
  padding: 120px 0;
}

.ul_description_company {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  /* TODO: */
}

.li_description_company {
  flex-basis: calc((100% - 72px) / 4);
  /* min-width: 150px; */
}

.development_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: $c-cloud;
  margin-bottom: 8px;
  height: 112px;
}

.description_company_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 00.02em;
  color: $c-bcg-navy-blue;
  margin-bottom: 8px;
}

.p_descripion_company {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section second our team */

.section_second_our_team {
  background-color: $c-cloud;
  padding: 120px 0;
}

.h_two_our_team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $c-bcg-navy-blue;
  margin-bottom: 72px;
}

.ul_our_team {
  display: flex;
  gap: 24px;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.our_team_title {
  background-color: $c-white;
  /* flex-basis: calc((100% - 72px) / 4); */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
  0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.container_description_personal {
  padding: 32px 0;
}

.h_three_description_company {
  text-align: center;
}

.p_our_team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $c-slate;
  text-align: center;
}

.our_team_socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.social_links {
  width: 40px;
  height: 40px;
}

.a_ot_social {
  width: 100%;
  height: 100%;
  background-color: $c-links-buttons-normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a_ot_social:hover,
.a_ot_social:focus {
  background-color: $c-links-buttons-hover;
}

.ot_icons {
  fill: $c-cloud;
}

/* section third our portfolio */

.section_three_our_portfolio {
  padding: 120px 0;
}

.h_two_portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: $c-bcg-navy-blue;
  margin-bottom: 72px;
}

.ul_our_portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
  padding: 0;
}

.our_portfolio_list {
  flex-basis: calc((100% - 48px) / 3);
  min-width: 250px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_portfolio_list:hover {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
  0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.op_img_container {
  position: relative;
  overflow: hidden;
}

.op_img_text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: $c-cloud;
  padding: 40px 32px;
  background-color: $c-links-buttons-normal;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.our_portfolio_list:hover .op_img_text {
  transform: translateY(0%);
}

.description_our_portfolio {
  padding: 32px 16px;
  border: 1px solid $c-bgc-head;
  border-top: none;
  text-align: start;
}

.h_three_portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $c-bcg-navy-blue;
  margin-bottom: 8px;
}

.p_our_portfolio {
  text-align: start;
}

/* MODAL FIELD */

.container_modal_field {
  position: fixed;
  display: flex;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal_field {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
  0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal_button {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-bgc-head;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button:hover,
.modal_button:focus {
  background-color: $c-links-buttons-hover;
  border: none;
}

.modal_svg_close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button:hover,
.modal_button:focus {
  fill: $c-white;
}

.p_modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: $c-bcg-navy-blue;
  margin-bottom: $marg-bottom-standard;
}

.container_modal_form {
  margin-bottom: 8px;
}

.modal_label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container_modal_icon {
  position: relative;
}

.modal_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal_input:focus {
  border-color: $c-links-buttons-normal;
}

.svg_modal_icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:focus + .svg_modal_icon {
  fill: $c-links-buttons-normal;
}

.container_modal_comment {
  margin-bottom: $marg-bottom-standard;
}

.modal_textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_textarea:focus {
  border-color: $c-links-buttons-normal;
}

.container_checkbox {
  margin-bottom: 24px;
}

input {
  outline: none;
}

.label_privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
}

.label_privacy:hover,
.label_privacy:focus {
  color: $c-links-buttons-hover;
}

.span_privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input_privacy:checked + .label_privacy > .span_privacy {
  background-color: $c-links-buttons-hover;
  border: none;
  fill: #f4f4f4;
}

.a_privacy {
  color: $c-links-buttons-normal;
}

.button_modal_send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $c-white;
  cursor: pointer;
  background-color: $c-links-buttons-normal;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

/* MEDIA */


@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    max-width: 320px;
  }

  /* HEADER*/

  .header_inner {
    padding: 0 16px;
  }

  .nav_logo_link {
    margin: 0;
    padding: 17.5px 0;
    width: 100%;
  }

  .head_mob_btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  .header_menu,
  .address {
    display: none;
  }

  /* END HEADER*/

  /* HERO SECTION */
  .hero_section {
    width: 100%;
    padding: 72px 0;
  }

  .hero_section_one {
    margin: 0 auto 72px auto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    max-width: 210px;
  }

  /*END HERO SECTION */

  /* section 1 description company */
  .section_description_company {
    padding: 120px 16px;
  }

  .ul_description_company {
    gap: 72px;
  }

  .li_description_company {
    flex-basis: 100%;
  }

  .development_icon {
    display: none;
  }

  .description_company_title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02em;
  }

  .p_descripion_company {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
  }

  /* END section 1 description company */

  /* Section 2 Our team */
  .section_second_our_team {
    padding: 120px 28px;
  }

  .ul_our_team {
    gap: 72px;
  }

  .our_team_title {
    flex-basis: 100%;
    max-width: 264px;
  }

  /* END Section 2 Our team */

  /* section 3 our portfolio */
  .section_three_our_portfolio {
    padding: 120px 16px;
  }

  .ul_our_portfolio {
    gap: 48px;
  }

  .our_portfolio_list {
    flex-basis: 100%;
    max-width: 288px;
  }

  .op_img_text {
    display: none;
  }

  /* END section 3 our portfolio */

  /* footer */

  .footer {
    padding: 96px 0;
  }

  .footer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 288px;
  }

  .footer_info {
    margin: 0;
    text-align: center;
    margin-bottom: 72px;
  }

  .footer_social_list {
    padding-bottom: 0;
  }

  .footer_logo_link {
    text-align: center;
  }

  .footer_logo_link {
    margin-bottom: 17.5px;
  }

  .footer_social {
    margin-bottom: 72px;
  }

  .f_social_text {
    text-align: center;
  }

  .container_footer_form {
    margin: 0;
  }

  .p_footer_form {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .button_footer {
    padding: 8px 24px;
    width: 165px;
    margin: 0 auto;
  }
  /* END footer */

  /* DROP DOWN MENU MOBILE*/
  .container_menu_mobile {
    position: fixed;
    display: flex;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }

  .mobile_menu_outer {
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 24px 40px 16px;
  }

  .menu_button {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $c-bgc-head;
    border-radius: 50%;
  }

  .menu_button:hover,
  .menu_button:focus{
    background-color: $c-links-buttons-hover;
  }


  .header_mobile_menu {
    padding-left: 0;
    padding-top: 48px;
    margin-bottom: 168px;
  }

  .nav_mobile_link_first {
    color: $c-links-buttons-hover;
  }

  .nav_header_link {
    display: flex;
    padding-top: 0;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02px;
    text-transform: capitalize;
  }

  .nav_header_link_last_child {
    padding-bottom: 0;
  }

  .header_ul_address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .header_li_addrss:first-child .a_address {
    color: $c-links-buttons-hover;
  }

  .a_address {
    padding: 0;
  }

  /* END DROP DOWN MENU MOBILE */

  /*  modal field */

  .container_modal_field {
  }

  .modal_field_outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_field {
    width: 288px;
    padding: 72px 16px 24px;
  }

  /* END  modal field */
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .container {
    max-width: 768px;
    padding: 96px 16px;
  }

  .hero_section,
  .section_description_company,
  .section_second_our_team,
  .section_three_our_portfolio,
  .footer {
    padding: 0;
  }

  .container_menu_mobile {
    display: none;
  }

  /* HEADER*/

  .header_inner {
    padding: 16px;
  }

  .nav_logo_link {
    margin-right: 0;
    padding: 24px 0;
  }

  .head_mob_btn {
    display: none;
  }

  .header_menu {
    justify-content: center;
  }

  .header_ul_address {
    flex-direction: column;
    gap: 12px;
  }

  .nav_header_link {
    padding: 24px 0;
  }

  .a_address {
    padding: 0;
  }
  /* END HEADER*/

  /* HERO SECTION */

  .hero_section {
    padding: 112px 0;
  }

  .hero_section_one {
    margin-bottom: 36px;
  }

  .development_icon {
    display: none;
  }
  /*END HERO SECTION */

  /* section 1 description company */

  .ul_description_company {
    row-gap: 72px;
    column-gap: 24px;
  }

  .li_description_company {
    width: 100%;
    min-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }

  .description_company_title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02px;
    text-transform: capitalize;
  }

  .p_descripion_company {
    font-weight: 500;
  }
  /* END section 1 description company */

  /* Section 2 Our team */
  .ul_our_team {
    justify-content: center;
    row-gap: 64px;
  }

  /* END Section 2 Our team */

  /* section 3 our portfolio */
  .ul_our_portfolio {
    justify-content: center;
    row-gap: 72px;
  }

  .our_portfolio_list {
    flex-basis: 100%;
    max-width: 356px;
  }

  .op_img_text {
    display: none;
  }
  /* END section 3 our portfolio */

  /* section footer */

  .footer_container {
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer_info {
    margin: 0;
  }

  .container_footer_form {
    margin-left: 0;
    margin-right: 80px;
  }

  /* END section footer */
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .head_mob_btn {
    display: none;
  }

  .nav_header_link_first::after{
    bottom: -1;
  }

  .container_menu_mobile {
    display: none;
  }

  .our_portfolio_list {
    flex-basis: 100%;
    max-width: 360px;
  }

  .footer_container{
    justify-content: space-between;
  }
}
